<h1>Edit Product</h1>

<form [formGroup]="formEdit" *ngIf="formEdit" (ngSubmit)="edit()">
  <input placeholder="id_blog" formControlName="id_blog" readonly><br>
  <input placeholder="name_blog" formControlName="name_blog"><br>
  <input placeholder="content" formControlName="content" style="width: 300px" ><br>
  <input placeholder="content_full" formControlName="content_full" style="width: 300px" ><br>
  <input placeholder="img_blog" formControlName='img_blog'><br>
  <input placeholder="like1" formControlName="like1"><br>
<!--  <fieldset formGroupName="category">-->
<!--    <input placeholder="category" formControlName="id_category"><br>-->
<!--  </fieldset>-->
  <input placeholder="category" formControlName="category" readonly><br>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
